body {
    /* Prevent the user selecting text in the example */
    user-select: none;
    background-color: black;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    // width: 100vw;
    color:white;
    font-family: 'Unbounded', cursive;
    padding: 2rem;
}
h1 {
    font-size: 4rem;
}
p {
    font-size: 2rem;
}
.button {
    color:white;
    background-color: black;
    font-family: 'Unbounded', cursive;
    padding:1rem;
    margin: 2rem 0;
    border: 1px solid white;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(255, 23, 170);
}

.container {
    margin: 0 auto;
    max-width: 700px;
    // max-height: 700px;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}

.block-container {
    background-color: white;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: stretch;
    justify-content: center;
    padding-bottom: 4rem;
    background-color: black;
}
.color {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}
  
.draggable {
    text-align: center;
    background: white;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

}
.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

}

.dragging:active, .dragging::selection{
    cursor: grab;

}

.dropzone {
    // cursor: grab;
    // background: blueviolet;
    // padding: 10px;
    border: 1px black solid;
}

.dragover {
    // cursor: grab;
}

.dragging {
    // opacity: 0.25; // do i want to keep this ?
    cursor: grab;

}
.hide {
    display:none;
}