.puzzle {
    &.puzzle__container {
        background-color: white;
        min-height: 800px;
        height:100%;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-content: stretch;
        justify-content: center;
        background-color: black;
    }
    .puzzle__piece {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: not-allowed;
    
        transition-property: all, sliding;
        transition-duration: 2s;
    
        &.color-transition {
            transition-property: all, sliding;
            transition-duration: 2s;   
        }
    }
}


.intro-play {
    display: flex;
    justify-content: space-between;
    align-items: baseline;


}
p.subtext {
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    // height: 100%;
    margin-bottom: 5rem;
}




.black-dot {
    opacity: 0;
}
  
.draggable {
    text-align: center;
    background: white;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

}

.dragging:active, .dragging::selection{
   transform: scale(1.1);
}

.dropzone {
    border: 1px black solid;
}

.dragging {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
   transform: scale(1.1);
  opacity: 0; // this hides the element that's still locked in the grid!
}

.draggable:not(.dragging) {
    transition-property:transform;
    transition-duration: 1000ms;
    transition-timing-function:ease-in-out;
}

// this is for the play / reset buttons
.hide {
    display:none;
}

// this is for the black dots specifically
.visible {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

@keyframes winnerAnimation {
    from {
        transform: rotate(0deg);
        scale: .33;
    }
    to {
        transform: rotate(360deg);
    }
}

.star-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding: 5rem 0;
    img {
        max-width: 90%;
        animation: winnerAnimation 2s;
        // display: block;
        z-index: 100;
    }
}

.footer {
    display: block;
    padding: 4rem 0;
}


a {
    color:white;
    text-decoration: underline;
    text-underline-offset: 5px;
}