.container {
    max-width: 800px;
    height: 800px;
}

.block {
    &-container {
        height:100%;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-content: stretch;
        justify-content: center;
    }
    &-container, &-color {
        // border: 1px black solid;
    }
    &-color {
        // background-color: aqua;
        height: 100%;
        width: 100%;
    }
    
}

  
#draggable {
    text-align: center;
    background: white;
}

.dropzone {
    // background: blueviolet;
    // padding: 10px;
    // border: 1px black solid;
}

.dropzone.dragover {
    background-color: rgb(236, 75, 236);
}

.dragging {
    opacity: 0.25;
}

// @use postcss-preset-env {
//     stage: 0;
// }

// body {
// background: linear-gradient(90deg, rgb(255,69,0), rgb(0,255,255));
// min-height: 100vh;

// &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//     right: 0;
//         mask-image: linear-gradient(to bottom, transparent, black);
//         background: linear-gradient(90deg, 	rgb(255,105,180), rgb(75,0,130));	
// }
// }

// #sample{
//     height:10rem;
//     width:10rem;
// }

// #range{
//     width:10rem
// }

// #grad{
//     width:10rem;
//     height:2rem;
//     background-image: linear-gradient(to right, red , blue);
// }