.container {
    max-width: 800px;
    height: 800px;
}

.block {
    &-container {
        height:100%;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-content: stretch;
        justify-content: center;
    }
    &-container, &-color {
        border: 1px black solid;
    }
    &-color {
        background-color: aqua;
       
    }
    
}

#block {
    &-1 {
        background-color: pink;
    }
}